
{% load static %}


<link rel="stylesheet" href="{%static 'css/style.css' %}">


  <center><h2>Forgot password</h2></center>
  <div class="main">

    <div class="container">
        <div class="signup-content">
            <form method="post" id="signup-form" class="signup-form" autocomplete="off">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" name="submit" id="submit" class="form-submit submit">Submit</button>
            </form>
        </div>
    </div>
  </div>


<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{%static 'js/main.js' %}"></script>
