{% load static %}

<link rel="stylesheet" href="{%static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<link rel="stylesheet" href="{% static 'ass/css/bootstrap.min.css' %}" type="text/css">

<blockquote class="blockquote text-center">

  <div class="main">
    <center>
      <strong><p class="text">
        We've emailed you instructions for setting your password, if an account exists with the email you entered.
        You should receive them shortly.
      </p>
      <p class="text">
        If you don't receive an email, please make sure you've entered the address you registered with,
        and check your spam folder.
      </p></strong>
      <br>
      <footer class="blockquote-footer">message sent by<cite title="Source Title">Cinegracia</cite></footer> 
    </center>
  </div>
  <style>
    .text{
      color: white;
      mix-blend-mode: difference;
    }
  </style>
</blockquote>
