{% load static %}

<link rel="stylesheet" href="{%static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<link rel="stylesheet" href="{% static 'ass/css/bootstrap.min.css' %}" type="text/css">

<blockquote class="blockquote text-center">
{% block content %}
<center>
  <h3 style="color: white;">
    Your password has been set. You may go ahead and <a href="{% url 'register:login' %}">Log in</a> now.
  </h3>
</center>
{% endblock %}
</blockquote>


